USE [master]
GO
/****** Object:  Database [hostts]    Script Date: 23/08/2018 01:30:46 p. m. ******/
CREATE DATABASE [hostts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hostts', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\hostts.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'hostts_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\hostts_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hostts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hostts]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Companies]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Companies](
	[id] [varchar](128) NULL,
	[name] [varchar](256) NULL,
	[rfc] [varchar](256) NULL,
	[photo] [varbinary](max) NULL,
	[tel] [varchar](128) NULL,
	[direccion] [varchar](256) NULL,
	[colonia] [varchar](256) NULL,
	[ciudad] [varchar](256) NULL,
	[status] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompaniesUsers]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompaniesUsers](
	[idcompany] [varchar](128) NULL,
	[iduser] [varchar](128) NULL,
	[ischecked] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Groups](
	[id] [varchar](128) NULL,
	[name] [varchar](max) NULL,
	[status] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GroupsMenu]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GroupsMenu](
	[idgroup] [varchar](128) NULL,
	[idmenu] [varchar](128) NULL,
	[isquery] [int] NULL,
	[isedit] [int] NULL,
	[isnew] [int] NULL,
	[isdelete] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [varchar](128) NULL,
	[menu] [varchar](256) NULL,
	[status] [int] NULL,
	[entitie] [varchar](256) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRights]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserRights](
	[iduser] [varchar](128) NULL,
	[entitie] [varchar](256) NULL,
	[isquery] [int] NULL,
	[isedit] [int] NULL,
	[isnew] [int] NULL,
	[isdelete] [int] NULL,
	[idmenu] [varchar](128) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[id] [varchar](128) NULL,
	[firstName] [varchar](256) NULL,
	[LastName] [varchar](256) NULL,
	[photo] [varbinary](max) NULL,
	[tel] [varchar](128) NULL,
	[direccion] [varchar](256) NULL,
	[colonia] [varchar](256) NULL,
	[ciudad] [varchar](256) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsersGroups]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UsersGroups](
	[iduser] [varchar](128) NULL,
	[idgroup] [varchar](128) NULL,
	[isChecked] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsersMenu]    Script Date: 23/08/2018 01:30:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UsersMenu](
	[iduser] [varchar](128) NULL,
	[idmenu] [varchar](128) NULL,
	[isquery] [int] NULL,
	[isedit] [int] NULL,
	[isnew] [int] NULL,
	[isdelete] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'5CCEC01C-E080-4627-BA39-73CA0F3F9A07', N'Administrador')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ffb4ec6a-2f4a-4da1-a1f6-6e02dcdae2fb', N'5CCEC01C-E080-4627-BA39-73CA0F3F9A07')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'72d1fc7c-7688-42f5-b4e5-ec04c4391a43', N'a@a.com', 0, N'AFNTxPnco6P9RSCY6+/GyIbyeUJG0SGJ513KZCS0BeDVrWxbnDc71n5V047fo3ajJg==', N'953ddd8f-7867-4626-b008-88ced1756a47', NULL, 1, 0, NULL, 0, 0, N'a@a.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'ffb4ec6a-2f4a-4da1-a1f6-6e02dcdae2fb', N'jelz2yk@hotmail.com', 0, N'AMsJnDUuK1gDv4z9a01TMkxeS2sti/HmMTGLuCKLCC6COiQkr/S0LBEzQ9YvYl4qFw==', N'4bd5ea8a-6c9e-4945-8bf0-56a5617a3297', NULL, 0, 0, NULL, 0, 0, N'jelz2yk@hotmail.com')
INSERT [dbo].[Groups] ([id], [name], [status]) VALUES (N'cd25f0ce-002d-4304-89c6-9c31c285e750', N'Administradores', 1)
INSERT [dbo].[Groups] ([id], [name], [status]) VALUES (N'a00dcbd8-3a53-4d0a-900b-6c3c0ba29ee1', N'Cajeros', 1)
INSERT [dbo].[Groups] ([id], [name], [status]) VALUES (N'627c0448-9f07-4289-bea4-98b839dd2bd5', N'Vendedores', 1)
INSERT [dbo].[Menu] ([id], [menu], [status], [entitie]) VALUES (N'1b229740-62ac-4c3c-ab1a-621afee63a8d', N'Configuracion/Grupos', 1, N'groups')
INSERT [dbo].[Menu] ([id], [menu], [status], [entitie]) VALUES (N'5788f15f-f14e-47b2-bffc-01932891a99e', N'Configuracion/Usuarios', 1, N'users')
INSERT [dbo].[Menu] ([id], [menu], [status], [entitie]) VALUES (N'ea77093c-53dc-4c46-9221-c9cd3b98d599', N'Configuracion/Compañias', 1, N'companies')
INSERT [dbo].[UserRights] ([iduser], [entitie], [isquery], [isedit], [isnew], [isdelete], [idmenu]) VALUES (N'72d1fc7c-7688-42f5-b4e5-ec04c4391a43', N'groups', 1, 0, 0, 0, N'1b229740-62ac-4c3c-ab1a-621afee63a8d')
INSERT [dbo].[UserRights] ([iduser], [entitie], [isquery], [isedit], [isnew], [isdelete], [idmenu]) VALUES (N'72d1fc7c-7688-42f5-b4e5-ec04c4391a43', N'users', 1, 1, 0, 0, N'5788f15f-f14e-47b2-bffc-01932891a99e')
INSERT [dbo].[UserRights] ([iduser], [entitie], [isquery], [isedit], [isnew], [isdelete], [idmenu]) VALUES (N'72d1fc7c-7688-42f5-b4e5-ec04c4391a43', N'bbbb1', 0, 0, 1, 0, N'ea77093c-53dc-4c46-9221-c9cd3b98d599')
INSERT [dbo].[UsersMenu] ([iduser], [idmenu], [isquery], [isedit], [isnew], [isdelete]) VALUES (N'72d1fc7c-7688-42f5-b4e5-ec04c4391a43', N'1b229740-62ac-4c3c-ab1a-621afee63a8d', 1, 0, 0, 0)
INSERT [dbo].[UsersMenu] ([iduser], [idmenu], [isquery], [isedit], [isnew], [isdelete]) VALUES (N'72d1fc7c-7688-42f5-b4e5-ec04c4391a43', N'5788f15f-f14e-47b2-bffc-01932891a99e', 1, 1, 2, 0)
INSERT [dbo].[UsersMenu] ([iduser], [idmenu], [isquery], [isedit], [isnew], [isdelete]) VALUES (N'72d1fc7c-7688-42f5-b4e5-ec04c4391a43', N'ea77093c-53dc-4c46-9221-c9cd3b98d599', 2, 0, 1, 0)
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
USE [master]
GO
